
.output {
    padding: 12px;
    box-sizing: border-box;
    max-width: 100%;
    }

    //.output img {
    //    image-orientation: from-image;
    //    }

    .output img,
    .output canvas {
        font-size: 0;
        max-width: 100%;
        }

