@import "../../../../../styles/mixins/allMixins";


.root {
    position: relative;
    }

    .root:before {
        content: '';
        display: block;
        padding-top: 100%;
        }

        .imageView {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            box-sizing: border-box;
            padding: 8px;
            border-radius: 4px;
            border: 2px dashed #999;
            justify-content: center;
            align-items: center;
            background: #efefef;

            @include hover() {
                background: #f6f6f6;
                }
            }
            .imageView.__hasNotImage {
                background: #ccc;

                @include hover() {
                    background: #ddd;
                    }
                }

            .imageInput {
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 0;
                }

            .image {
                max-width: 100%;
                max-height: 100%;
                // :)
                }

            .imageStub {
                color: #333;
                }

