

.root {

    }

    .avatarLoader {
        max-width: 400px;
        margin: 0 auto;
        }

    .orientation {
        text-align: center;
        margin-top: 16px;
        font-weight: bold;
        font-size: 20px;
        }

        .orientationValue {
            color: #f00;
            }

